run = "bash start.sh"
entrypoint = "start.sh"

[env]
# General Replit specific configurations
VITE_PORT="3000"
BACKEND_PORT="8080"
NEXT_PUBLIC_API_URL="http://localhost:8080"

[nix]
channel = "stable-23_11"
